[gcode_macro START_PRINT]
description: "says it  all"
variable_state: 'Prepare'
variable_record_extruder_temp: 0
variable_max_record_extruder_temp: 0

gcode:
    {% set speed = printer.configfile.settings.printer.max_velocity %}
    {% set x_max = printer.toolhead.axis_maximum.x %}
    {% set y_max = printer.toolhead.axis_maximum.y %}
    {% set extruder_target_temp = printer.extruder.target|int %}
    {% set bed_targer_temp = printer.heater_bed.target|int %}

    M400
    CLEAR_PAUSE
    G90

    {% if state == 'Prepare' %}
        {action_respond_info("Prepare!")}

        {% if printer.toolhead.homed_axes|lower != "xyz" %}
#            LED_HOMING
            G28
        {% endif %}

        {% if printer['filament_motion_sensor encoder_sensor'].enable == True and
              printer['filament_motion_sensor encoder_sensor'].filament_detected != True %}
            M117 No filament!!!
            {action_respond_info("Please Insert filament in Sensor!")}
            CANCEL_PRINT
        {% endif %}

        {action_respond_info("Check Heating!")}

        M140 S{bed_targer_temp}
        M104 S{extruder_target_temp}

        {% if printer.heater_bed.temperature < bed_targer_temp %}
            M117 Bed heating...
            {action_respond_info("Bed heating...")}
 #           LED_HEATING_BED
            M190 S{bed_targer_temp}
        {% endif %}

        {% if printer.extruder.temperature < extruder_target_temp %}
            M117 Nozzle heating...
            {action_respond_info("Nozzle heating...")}
#            LED_HEATING_NOZZLE
            M109 S{extruder_target_temp}
        {% endif %}

        {% if printer.quad_gantry_level.applied|lower != 'true' %}
 #           LED_QGL
            QUAD_GANTRY_LEVEL
        {% endif %}

        ; Position for cleaning
        G0 X{x_max} Y{y_max} Z15 F{speed*60}

        ; Cool nozzle slightly before cleaning
        M104 S150
        M109 S150

        ; 🧼 Nozzle Cleaning
        CLEAN_NOZZLE_TAP

#        ; 🔽 TAP Z Probing
#        PROBE_EDDY_NG_TAP   TARGET_Z=-0.357 # THRESHOLD=1000

        ; 🧭 Adaptive Mesh
#        LED_BED_MESH
#        BTT_BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=1 
        BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=1 
        
        SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=state VALUE='"Start"' 
        UPDATE_DELAYED_GCODE ID=_print_start_wait DURATION=0.5

    {% elif state == 'Start' %}
#        LED_PRINTING
        M117 Printing now!!!
        {action_respond_info("Start!")}
    {% endif %}


  
# # # Klipper Adaptive Purging - VoronDesign Logo # # #

# This macro will parse information from objects in your gcode to define a min and max area, creating a nearby purge with Voron flair!
# For successful purging, you may need to configure:
# 
# [extruder]
# .
# .
# max_extrude_cross_section: 5


[gcode_macro ADAPTIVE_PURGE]
description: A purge macro that adapts to be near your actual printed objects

variable_adaptive_enable: False     # Change to False if you'd like the purge to be in the same spot every print
variable_z_height: 0.4              # Height above the bed to purge
variable_tip_distance: 10           # Distance between filament tip and nozzle before purge (this will require some tuning)
variable_purge_amount: 40           # Amount of filament to purge
variable_flow_rate: 10              # Desired flow rate in mm3/s
variable_x_default: 10              # X location to purge, overwritten if adaptive is True
variable_y_default: 10              # Y location to purge, overwritten if adaptive is True
variable_size: 10                   # Size of the logo
variable_distance_to_object_x: 5   # Distance in x to the print area
variable_distance_to_object_y: 5   # Distance in y to the print area

gcode:
    {% if adaptive_enable == True %}
        {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}
        {% set x_origin = (all_points | map(attribute=0) | min | default(x_default + distance_to_object_x + size)) - distance_to_object_x - size %}
        {% set y_origin = (all_points | map(attribute=1) | min | default(y_default + distance_to_object_y + size)) - distance_to_object_y - size %}
        {% set x_origin = ([x_origin, 0] | max) %}
        {% set y_origin = ([y_origin, 0] | max) %}
    {% else %}
        {% set x_origin = x_default | float %}
        {% set y_origin = y_default | float %}
    {% endif %}
    {% set purge_move_speed = 2.31 * size * flow_rate / (purge_amount * 2.405) %}
    {% set prepurge_speed = flow_rate / 2.405 %}
    {% set travel_speed = (printer.toolhead.max_velocity / 2) %}   #aici am editat
    { action_respond_info( "x: " + x_origin|string + " y: " + y_origin|string + " purge_move_speed: " + purge_move_speed|string + " prepurge_speed: " + prepurge_speed|string ) }

    G92 E0
    G0 F{travel_speed*60}                                                               # Set travel speed
    G90                                                                                 # Absolute positioning
    G0 X{x_origin} Y{y_origin+size/2}                                                   # Move to purge position
    G0 Z{z_height}                                                                      # Move to purge Z height
    M83                                                                                 # Relative extrusion mode
    G1 E{tip_distance} F{prepurge_speed*60}                                             # Move tip of filament to nozzle
    G1 X{x_origin+size*0.289} Y{y_origin+size} E{purge_amount/4} F{purge_move_speed*60} # Purge first line of logo
    G1 E-.5 F2100                                                                       # Retract
    G0 Z{z_height*2}                                                                    # Z hop
    G0 X{x_origin+size*0.789} Y{y_origin+size}                                          # Move to second purge line origin
    G0 Z{z_height}                                                                      # Move to purge Z height
    G1 E.5 F2100                                                                        # Recover
    G1 X{x_origin+size*0.211} Y{y_origin} E{purge_amount/2} F{purge_move_speed*60}      # Purge second line of logo
    G1 E-.5 F2100                                                                       # Retract
    G0 Z{z_height*2}                                                                    # Z hop
    G0 X{x_origin+size*0.711} Y{y_origin}                                               # Move to third purge line origin
    G0 Z{z_height}                                                                      # Move to purge Z height
    G1 E.5 F2100                                                                        # Recover
    G1 X{x_origin+size} Y{y_origin+size/2}  E{purge_amount/4} F{purge_move_speed*60}    # Purge third line of logo
    G1 E-.5 F2100                                                                       # Retract
    G92 E0                                                                              # Reset extruder distance
    M82                                                                                 # Absolute extrusion mode
    G0 Z{z_height*2}                                                                    # Z hop



[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    BED_MESH_CLEAR
    # If QGL has not been done yet, correct for any major skew first
    # at 8mm height
    {% if not printer.quad_gantry_level.applied %}
    _QUAD_GANTRY_LEVEL horizontal_move_z=8 retry_tolerance=1      
    {% endif %}
    # Complete with a full QGL at the configured height
    _QUAD_GANTRY_LEVEL
    RESTORE_GCODE_STATE NAME=STATE_QGL    


[gcode_macro EMERGENCY_LIFT]
description: A macro that raises the hotend 10mm no matter what. (Messes up the position)G90

gcode:
    G90
    SET_KINEMATIC_POSITION Z=0
    G0 Z10 F600
    M84

[gcode_macro HOUR_TIMEOUT]    
description: Increases inactivity timeout from 10 min to 1 hour

gcode:
    SET_IDLE_TIMEOUT timeout=5400